@import "./navbar.css";
@import "./wrapper.css";
@import "./main-content.css";
@import "./cars.css";
@import "./footer.css";
@import "./banner.css";

:root {
    --black: #010203;
    --white: #ffffff;
    --blue: #00142d;
    --font: system-ui;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--blue);
    font-family: var(--font);
}